.cardContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    padding: 0;
    height: 100vh; 
    margin-top: 20px; 
}

.card {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 4px #888d8a;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    color: #333;
    margin-top: 40px; 
    position: relative;
}


.cardTitle {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #444;
}

.cardSection {
    padding: 10px 0;
    margin: 10px 0; 
    border-bottom: 1px solid #ddd; 
}

.cardSection:last-child {
    border-bottom: none; 
}

.cardText {
    font-size: 16px;
    margin: 5px 0;
}

.cardGenres {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.genreItem {
    display: inline-block;
    background: #3be477;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 14px;
}

.interactionButtons{
   position: absolute;
   background: none;
   border: none;
   font-size: 24px;
   cursor: pointer;
   transition: color 0.2s;
}

.closeButton {
    top: 5%; 
    right: 5%; 
    color: #ff4d4f;
}
.editButton{
    top: 5%; 
    left: 5%; 
    color: #4dc7ff;
}

.closeButton:hover {
    color: #d32f2f;
}

.editButton:hover{
    color: #109cdd;
}
